.btn-fb {
    cursor: pointer;
    padding: 12px 24px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 0;
    background-color: rgba(59, 89, 152, .9);
    border-color: transparent;
    position: relative;
    top: 40%;
}

.list {
    color: #4b4f56;
    display: block;
    padding: 7px 8px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 !important;
    margin-right: 10px;
    background-color: #e9ebee;
    border: none;
}

.pageInfo {
    color: #4b4f56;
    display: block;
    padding: 7px 8px;
    font-weight: 600;
    cursor: default;
    border-radius: 0 !important;
    margin-right: 10px;
}

.postPic {
    height: 200px;
    display: block;
}

.pic-modal {
    top: 30%;
    width: 100%;
}

.numPos {
    float: right;
    padding-right: 10px;
}

.icon-style {
    padding-right: 10px;
    color: #90949c;
}

.fb-theme {
    color: #fff;
    background-color: rgba(51, 122, 183, .7);
    border-color: #337ab7;
}

#insightFeed {
    background-color: #e9ebee;
    padding: 10px;
    margin-top: 0;
}

.main-content {
    height: 100%;
    background-color: #e9ebee;
}

.btn-fb:hover {
    background-color: #365899;
    border-color: #29487d;
}

.page-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.logo-img {
    margin-right: 25px;
    height: 70px;
}

.page-logo {
    height: 150px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}

.sidebar .my-info {
    position: fixed;
    bottom: 70px;
}

.sidebar .my-info .user-info .options {
    font-size: 16px;
    display: inline-block;
}

.sidebar .my-info .user-info .user-name {
    color: grey;
    font-size: 16px;
    font-weight: bold;
}

.feed-pane {
    height: 100%;
    width: 82%;
    overflow-y: auto;
    padding: 40px 15px 180px;
    vertical-align: top;
    display: inline-block;
}

.feed-pane .message-form {
    position: fixed;
    bottom: 5px;
    background: #fff;
    width: 49%;
    right: 20%;
}

.feed-pane .feed-wrap {
    position: relative;
    margin-top: 20px;
}

.confirm-modal {
    top: 30%;
}

.emptyComment {
    font-size: 16px;
    font-family: Arial;
    color: gray;
    padding-top: 15px;
}

.sidebar .my-info .user-pic {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 55px;
    border-radius: 5px;
}

.feed-pane .feed-wrap .feed-info {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.feed-pane .feed-wrap .feed-info .user-info {
    color: grey;
    font-weight: bold;
    font-size: 13px;
}

.post-count {
    display: block;
    text-align: center;
    position: relative;
    top: 8px;
    font-size: 16px;
}

.post-label {
    color: grey;
    display: block;
    text-align: center;
}

.text-center {
    text-align: center;
}

.feedContent {
    font-size: 18px;
    font-family: Arial, Calibri, sans-serif;
    padding: 5px 13px;
    text-align: left;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
}

.publish-btn {
    background-color: rgba(59, 89, 152, .9);
    color: #fff;
    border-radius: 0;
    width: 10%;
    position: relative;
    left: 90%;
    margin-top: 5px;
    font-weight: bold;
}

#dropUpBtn {
    width: initial;
    margin-left: 3px;
}

.actionPoint {
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.no-padding {
    padding: 0;
}

#uploaderModalBody {
    max-height: 400px;
    overflow-y: auto;
}
