<div class="page-wrapper col-lg-12">
    <div class="page-header text-center">
        <h1 style="margin-bottom: 0;">
            <img class="logo-img" src="styles/fb-art.png"/>Welcome to Facebook Page Manager
        </h1>
        <h4 style="margin: 0">A facebook page manager built using facebook graph APIs</h4>
    </div>

    <div class="text-center" style="height: 350px; background-color: #e9ebee">
        <div style="display: inline-grid;">
            <img class="page-logo" src="styles/lsu.jpg"/>
            <h5><strong>LSU Football Fan Club</strong></h5>
        </div>
        <div style="padding: 30px">
            <a type="button" class='btn btn-info btn-fb' href="/auth/facebook">login to facebook</a>
        </div>
    </div>
</div>
